.navigation {
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation_link {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;

  &.login {
    border: 2px solid #fff;
    padding: 0.4rem 0.8rem;
  }
}
