.ride_search_section {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
  background-color: #ffffff25;

  h2 {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
  }

  .ride_search_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;

    input[type="date"]::-webkit-datetime-edit-year-field,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-text {
      background-color: transparent;
    }

    input {
      background-color: transparent;
      border-bottom: 2px solid slategray;
      padding: 0.75rem;
      color: white;
      width: 100%;
      transition: all 0.3s ease-in-out;
      border-radius: 0.2rem;

      &:focus {
        outline: none;
        border-bottom-color: white;
      }
    }

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    button {
      background-color: transparent;
      color: white;
      padding: 0.75rem 2rem;
      border-radius: 0.2rem;
      border: 2px solid white;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: white;
        color: black;
      }
      transition: all 0.3s ease-in-out;
    }
  }

  .autocomplete_list {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.2);
    margin-top: 0.5rem;
    list-style-type: none;
    padding: 0;
    color: #333;

    li {
      padding: 0.75rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #f3f4f6;
      }
    }
  }
}

@media (max-width: 1024px) {
  .ride_search_section {
    width: calc(80% - 2rem);
  }
}
@media (max-width: 768px) {
  .ride_search_section {
    width: calc(100% - 2rem);
    h2 {
      font-size: 1rem;
    }

    .ride_search_form {
      button {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
